.logo>p{
   font-size: large;
   margin: 10px 50px 10px 10px;
}

.EHbuttons>button{
    border: none;
    margin: 1px 8px;
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0px;
    background-color: #fff;
    position: relative !important;
  
}

.EHbuttons>button::after{
    content: ""  ;
    height: 2px   ;
    position: absolute ;
    background-color: #1D4130 ;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all 0.2s ease-in-out ;
}
.EHbuttons>button:hover::after  {
    width: 100% ;
}

.EHnavbar-right{
    display: flex;
    align-items: center;
}   
body{
    margin: 0;
    padding: 0;
    color: #1D4130 !important;
     font-family: "Oswald", sans-serif;
}
.EHpharmacy-img{
 width: 100%;
 height: 85vh;
 margin: 10 10;
object-fit: cover;
 border: 1px solid black;
margin-block-end: 0;
}
.EHcall-us-button>button{
    background-color: #1D4130;
    padding: 15px 35px;
    color: #fff;
    border-radius: 35px;
    
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
}

.EHwhat-we-do-image{
    width: 300px;
    height: 400px;
}
.EHwhat-we-do-info{
    border-bottom: 1.5px solid #1D4130;
    padding-top: 20px;
}   
.EHwhat-we-do-info:nth-child(3){
   border: none;
}

.EHstore {
      color: #4a9a38;
      background-color: #1D4130;
      background: #5AA45D33;
      padding: 14px 40px;
      border-radius: 35px;
      font-weight: bold;
      border: none;
      width:min-content;
      height: fit-content;
     font-size: 16px;
     margin-right: 50px;
     text-transform: uppercase;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.24);
-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.24);
}
.EHtitle {
    margin-left: 0px;
}
.EHtitle >b >h1{
    font-weight: bold;
    font-size: 50px;
}
.EHproduct-card{
    padding: 15px;
    width: 300px;
    height: 450px;
    border: 2px solid black;
}
.EHproduct-image >img{ 
    border-bottom: 2px solid black;
    width: 100%;
    height: 305px;
    object-fit: contain;
}
.EHproduct-price >p{
    color: #4a9a38;
}
.EHproduct-button >button{
      color: white;
      background-color: #4a9a38;
      padding: 5px 20px;
      border-radius: 35px;
      border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.EH-product button{
     background-color: #1D4130;
    padding: 13px 35px;
    color: #fff;
    border-radius: 35px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
}
.EH-product{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.EHproducts-container{
    display: flex;
    justify-content: space-between;
}
.EHjourney{
    display: flex;
    margin-left: 20px;
}
.EHjourney-text{
    padding: 40px 10px;
    padding: 0px 150px 30px 0px;}


.EHjourney-text >h2{
    font-size: 70px;
    padding-bottom: 50px;
    font-weight: bolder;
}
.EHjourney-text >h4{
    font-size: 40px;
    font-weight: bold;
}
.EHjourney-text >p{
 font-size: 20px;
}
.EHjourney-text >a{
    color: #1D4130;
   font-weight: bolder;
    font-size: 20px;
    justify-content: space-between;
}
.EHjourney-image >img{
     width: 300px;
    height: 500px;
    margin-right: 20px;
}
.EHboxes-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.EHboxe{
    text-align: center;
    width: 100%;
    border: 2px solid #1D4130;
    padding: 10px ;
}
.EHboxe + .EHboxe{
   border-left: none;
}
.EHboxe h3{
    font-size: 60px;
}
.EHboxe p{
    font-weight: bold;
    font-size: 20px;
}
.EHproductrange-button{
    display: flex;
    justify-content: center;
}
.EHproductrange-button >button{
      color: #4a9a38;
      background-color: #1D4130;
      background: #5AA45D33;
      padding: 14px 40px;
      border-radius: 35px;
      font-weight: bold;
      border: none;
      width: 33;
     font-size: 18px;
     margin-bottom: 30px;
     text-transform: uppercase;
     box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.24);
}
.EHtitlerange h2{
    font-weight: bold;
    font-size: 45px;
    text-align: center;  
}
.EHtitlerange p{
    margin-top: 20px;
    text-align: center;
}

.EHcardicon i{
   height: 90px;
   width: 90px;
   background-color: #5AA45D33;
   border-radius: 50%;
   font-size: 38px;
   color: #4a9a38;
   display: flex;
   align-items: center;
   justify-content: center;
}
.EHcardicon h4{
  padding-left: 15px;
   text-align: start;
   font-size: 20px;
   padding-top: 30px;
   font-weight: bolder;
}
.EHbrowse-button button{
     background-color: #1D4130;
    padding: 15px 35px;
    color: #fff;
    border-radius: 35px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
}
.EHbrowse-button{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.EH-section{
    padding: 100px 0;
    border-bottom: #1D4130 1.5px solid;
}
.EHtestimonal-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.EHtestimonal-button{
      color: #4a9a38;
      background: #5AA45D33;
      padding: 14px 40px;
      border-radius: 35px;
      font-weight: bold;
      border: none;
      width: fit-content;
     font-size: 18px;
     text-transform: uppercase;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.24);
}
.EHtestimonal-title{ 
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.EH-testimonal-carosuel{
    height: 300px !important;
   width: 100%;
}
.EH-testimonal-carosuel img{
      height: 300px;
 object-fit: contain;
}
.EHcarousel-arrow{
    background-color: black !important;
}
.EHcarousel-quotes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 20%;
    height: 100%;
}
.EHcarousel-quotes p{
    font-size: 24px;
    font-style: italic;
}
.EHcarousel-author{
    font-weight: bold;
    font-size: 22px;
}
.EHcarousel-place{
    font-size: 22px;
}
.EHstore-button button{
     background-color: #1D4130;
    padding: 15px 35px;
    color: #fff;
    border-radius: 35px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
}
.EHstore-button{
     width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.EHFAQ-button button{
      color: #4a9a38;
      background: #5AA45D33;
      padding: 14px 40px;
      border-radius: 35px;
      font-weight: bold;
      border: none;
      width:fit-content ;
     font-size: 18px;
     text-transform: uppercase;
     box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.24)
}
.EHFAQ-content{
    display: flex;
    width: 100%;
}
.EHFAQ-left h2{
font-weight: bolder;
    font-size: 50px;
}
.EHFAQ-left{
    padding: 5px;
    width: 30%;
}
.EHFAQ-right{
     width: 70%;
     padding-left: 80px;
}
.EHFAQ-left p{
    font-size: 24px;
}
.EHFAQ-right .btn{
    background-color: white;
    box-shadow: none;
    border: none;
    width: 100%;
}
.EHFAQ-right .btn:focus{
    box-shadow: none;
}
.EHFAQ-right .card{
    border-bottom: #1D4130 2px solid !important;
}

.EHFAQ-right .btn{
    font-size: 28px;
    font-weight: bold;
}
.EHFAQ-right .card-body{
    font-size: 18px;
}

.EHlogo img{
    width: 200px;
    height: 50px;
    object-fit: contain;
}
.EHfooter-nav button{

    border: none;
    margin: 1px 8px;
    font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
    padding: 5px 0px;
    background-color: #fff;
    position: relative !important;
   cursor: pointer;
}
.EHfooter-social i{
    font-size: 32px;
    color: #00723d;
}
.EHfooter-section{
    border-bottom: 2px solid #1D4130;
}
.EHSTORY-content{
     width: 100%;
     display: flex;
     justify-content: space-between;
     border: 2px solid #1D4130 ;
}
.EHSTORY-left{
    padding: 5px;
    width:100%;
    border-right:2px solid #1D4130 ;
}
.EHSTORY-right img{
width: 100%;
height: 100%;
}
.EHSTORY-left h1{
font-size: 60px;  
margin: 25px 5px;  
font-weight: bold;
}
.EHSTORY-left p{
    margin-left: 5px;
    font-size: 18px;
}
.EHSTORY-date{
    display: flex;
    justify-content: space-between;
    margin: 60px 30px;
    text-align: center;
    color: #1D4130;
}
.EHSTORY-date h2{
    font-size: 60px;
    font-weight: bold;
}
.EHSTORY-date b{
    font-size: 18px;
    font-weight: bold;
}
.EHDNA{
       margin: 0 230px;
}
.EHDNA h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.EHDNA img{
    width: 100%;
    height: 305px;
    object-fit: contain;
}
.EHDNA-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 2px solid #1D4130;
    
   
}
.EHDNA-content h3{
    width: 50%;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
  

}
.EHDNA-content p{
    width: 50%;
    margin-top: 20px;
}
.EHoveryears-left h1{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
}
.EHoveryears-left h2{
font-size: 40px;
font-weight: bolder;
}
.EHoveryears-left p{
    font-size: 19px;
    margin: 15px 10px;
}
.EHoveryears-right {
    width: clamp(300px, 42%, 680px);
    height: auto;
    margin: 0 10px;
}
.EHimglogo{
   border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    max-width: 100%;
}
.EHmision h4 {
 margin-bottom: 15px;
}
.EHmision p {
    margin-bottom: 50px;
    font-size: 18px;
}
.EH-iconstitle h1{
    margin-bottom:80px ;
    font-weight: none;
}
.EHcontact{
    border-top:#1D4130 1.5px solid;
    padding: 100px 0;
}
.EHcontact h1{
    font-size: 60px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}
.EHcardicon p{
    padding-left: 10px;
    padding-top: 15px;
    font-size: 20px;
}
.EHcustominput{
    border: none;
    border-bottom: #1D4130 2px solid !important;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    font-size: larger;
}
.EHcustominput:focus-visible{
    outline-color: #cacaca;
}
.EHinputs{
    -webkit-box-shadow: -6px 1px 17px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: -6px 1px 17px -4px rgba(66, 68, 90, 1);
    box-shadow: -6px 1px 17px -4px rgba(66, 68, 90, 1);;
}
.EH-Message {
      background-color: #1D4130;
    padding: 15px 35px;
    color: #fff;
    border-radius: 35px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
    
}
