.test{
    color:brown;
}
p{
    margin: 0;
}
.logo>p{
    color: white;
   font-size: large;
   margin: 10px;
}
.buttons>button{
    color: white;
    border: none;
    margin: 10px 1px 10px 1px;
    padding: 5px 0px;
    background-color: #1B3A24;
       transition: .4s;
    
}
.buttons>button:hover{
     border-bottom: 1.5px white solid;
  
}

.navbar{
    margin: 0;
    background-color: #1B3A24;
    height: 50px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
} 
body{
    margin: 0;
    padding: 0;
     font-family: "Oswald", sans-serif;
}
.logo{
      margin: 0;
    padding: 0;
}
.pharmacy-img{

 width: 100%;
 height: 100vh;
 margin: 10 10;
object-fit: cover;
 border: 1px solid black;

}